#output {
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
    white-space:pre;
    overflow-y: auto;
    height: 100vh;
}

ul {
    padding: 0px;
    margin: 0px;
}

#arguments {
    padding: 0px;
}

.tabs-panel {
    padding-left: 0px;
    padding-right: 0px;
}

#output .out {
    color: #FFFFFF;
}

#output .err {
    color: #990000;
}

#output_wrap {
    padding: 0px;
}
#control-buttons {
    position: fixed;
    right: 5px;
    top: 5px;
    width: auto;
    z-index: 2;
}

html, body {
background: #FAFAFA; }


